<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codaxy.WkHtmlToPdf" version="0.5.8" targetFramework="net461" />
  <package id="Common.Logging" version="2.1.1" targetFramework="net461" />
  <package id="IronPdf" version="5.2.0.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net35" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.340.80" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="NetOffice.Core.Net35" version="1.7.4.4" targetFramework="net35" />
  <package id="Npgsql" version="4.0.4" targetFramework="net461" />
  <package id="OpenHtmlToPdf" version="1.12.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>